.card {
  background-color: #36383b;
  margin: 20px;
  padding: 1px;
  cursor: grab;
  border-radius: 10px;
}

.card-detail {
  flex: 1;
  background-color: #282c34;
  color: #61DAFB;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
}